[Unit]
Description=Script Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/ubuntu/<source_filename>.py > /home/ubuntu/<Log_file_name>.log &
User=root
Restart=always

[Install]
WantedBy=multi-user.target
